

.gallery {
    position: relative;
    width: 100%;
    // border: 3px solid;
    display: flex; 
    justify-content: center;
    align-items: center;
    // padding-left: 60px;
    /* height: 100vh; */
     
    
}

.gallery__wrap {
    display: flex;
    padding-left: 70px;
    gap: 16px;
}

.link__janr {
    text-decoration: none;
    
}

.card {
    position: relative; 
    left: 0; 
    width: 210px;
    height: 200px;   
    border-radius: 8px; 
    transition:  all 700ms ease;
    transform-origin: center left right;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.54);  
    overflow: hidden; 
    background-color: #1b1a1dd3;
    color: white;
    
}


.carad img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    
}

.card:hover {
    cursor: pointer;
    transform: scale(1.10);
   
}



.card:hover ~ .card {
    font-weight: bold;
    cursor: pointer;
    transform: translateY(10PX);
    
}


.back {
    position: absolute;
    left: 35px;
}

.next{
    position: absolute;
    right: 0;
}


