/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "OKKO Sans Regular";
  src: url(/assets/fonts/ba3f3c077e5dfbb32c49.woff2) format("woff2"), url(/assets/fonts/50d099b4a9ec0c83e993.woff) format("woff"), url(/assets/fonts/06889eb4fc8f9c0d29c5.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "OKKO Sans Medium";
  src: url(/assets/fonts/4860763ac9aafc34fed8.woff2) format("woff2"), url(/assets/fonts/67d8eb6e6590548ce4be.woff) format("woff"), url(/assets/fonts/adfb05dab176ae46b4c0.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "OKKO Sans DemiBold";
  src: url(/assets/fonts/aad9750f51738df25442.woff2) format("woff2"), url(/assets/fonts/27b0440ded638a4403f6.woff) format("woff"), url(/assets/fonts/e53b1e31d834525a53f7.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "OKKO Sans Bold";
  src: url(/assets/fonts/8edee193111221f91d45.woff2) format("woff2"), url(/assets/fonts/d5d9eefa9e007f2e000d.woff) format("woff"), url(/assets/fonts/8a6e3479fa41c45de4da.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "OKKO Sans Black";
  src: url(/assets/fonts/1e68bd37f697293de705.woff2) format("woff2"), url(/assets/fonts/63f393ff6f2cf85d267c.woff) format("woff"), url(/assets/fonts/54798a02458b96a08137.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "OKKO SuisseIntl Light";
  src: url(/assets/fonts/d26af36d03cd6be36896.otf) format("opentype"), url(/assets/fonts/e87973d3586ae0ad0334.woff2) format("woff2"), url(/assets/fonts/dee3e82fce91ca2fd571.ttf) format("truetype"), url(/assets/fonts/8c69eff40456a0b309ec.woff) format("woff");
  font-display: fallback;
}
body {
  font-family: "OKKO Sans Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.96);
  text-align: left;
  background-color: #000;
  position: relative;
  overflow-x: hidden;
}

.header {
  width: 100%;
  padding: 0 72px;
  height: 70px;
  background-color: #000;
  color: rgba(255, 255, 255, 0.96);
}
.header .nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.header .nav .nav__logo {
  flex: 0 1 auto;
  color: inherit;
  height: auto;
  width: 4.74em;
  margin-right: 2.5em;
  background-color: transparent;
  z-index: 1;
}
.header .nav .nav__list {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}
.header .nav .nav__list .list__item {
  margin: 0;
  padding: 0 0.72em;
  position: relative;
  display: flex;
  align-items: center;
  font-family: "OKKO Sans Medium", sans-serif;
}
.header .nav .nav__list .list__item a {
  font-size: 16px;
  line-height: 24px;
  font-size: 16px;
  line-height: 24px;
  transition: color 0.1s;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.56);
}
.header .nav .nav__list .list__item a:hover {
  color: rgba(255, 255, 255, 0.96);
}
.header .nav .nav__list .list__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  transition: opacity 0.3s;
  background: linear-gradient(270deg, transparent 0.17%, #5d0ef5 15.74%, #fff 50%, #5d0ef5 83.22%, transparent 100%);
  opacity: 0;
}
.header .nav .nav__list .list__item.active a {
  color: rgba(255, 255, 255, 0.96);
}
.header .nav .nav__list .list__item.active::after {
  opacity: 1;
}

.gallery {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.gallery__wrap {
  display: flex;
  padding-left: 70px;
  gap: 16px;
}

.janr {
  overflow: hidden;
}

.link__janr {
  text-decoration: none;
}

.card {
  position: relative;
  left: 0;
  width: 210px;
  height: 200px;
  border-radius: 8px;
  transition: all 700ms ease;
  transform-origin: center left right;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.54);
  overflow: hidden;
  background-color: rgba(27, 26, 29, 0.8274509804);
  color: white;
}

.carad img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card:hover ~ .card {
  font-weight: bold;
  cursor: pointer;
  transform: translateY(10PX);
}

.back {
  position: absolute;
  left: 35px;
}

.next {
  position: absolute;
  right: 0;
}

footer {
  margin-top: 40px;
  padding: 0 60px;
}

.footer__padding {
  padding: 40px 0 30px 0;
  border-top: 1px solid rgba(91, 88, 91, 0.412);
}

.footer__social__info {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1320px) {
  .footer__social__info {
    flex-direction: column;
    gap: 40px;
  }
}

.footer__social {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media screen and (max-width: 1320px) {
  .footer__social {
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__img {
  display: flex;
  gap: 15px;
}

.footer__btn > button {
  padding: 10px 25px;
  background-color: rgba(39, 43, 117, 0.918);
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer__info {
  display: flex;
  gap: 150px;
  padding-right: 50px;
}
@media screen and (max-width: 1320px) {
  .footer__info {
    justify-content: space-between;
    padding-right: 130px;
  }
}

.kom__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.kom__info > h3 {
  color: rgba(255, 255, 255, 0.96);
  font-size: 20px;
  font-family: "OKKO Sans DemiBold", sans-serif;
}

.kom__info > a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.56);
  font-family: "OKKO Sans Medium", sans-serif;
}

.copyright__kom {
  display: grid;
  place-items: center;
  padding: 70px 0 0px 0;
}

.copyright__kom > div {
  text-align: center;
  line-height: 27px;
  text-shadow: 0 0 4px rgba(182, 199, 212, 0.737254902);
}/*# sourceMappingURL=main.css.map */